<div class="transacoes">
  <div class="botoes-transacoes">
    <div
      class="botoes-transacoes-items"
      (click)="toggleDisplay()"
    >
      <img src="/svg/receita.svg" />
      <button>
        Novo
      </button >
    </div>
  </div>
  <table class="tabela-transacoes">
    <tr class="cabecalho">
      <td>
        <select id="filter" (change)="onFilterChange($event)">
          <option value="" selected>Tipo</option>
          <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
        </select>
      </td>
      <td>Valor</td>
      <td>Categoria</td>
      <td>Descricao</td>
      <td>Editar/Excluir</td>
    </tr>
    <tr *ngFor="let transacao of transacoes" >
      <td *ngIf="transacao.editando">
        <select id="select_opt" [(ngModel)]="transacao.tipo">
          <option *ngFor="let t of tipos" [value]="t">{{ t }}</option>
        </select>
      </td>
      <td *ngIf="!transacao.editando">
        {{ transacao.tipo }}
      </td>
      <td *ngIf="transacao.editando">
        <input id="select_opt" type="number" [(ngModel)]="transacao.valor">
      </td>
      <td *ngIf="!transacao.editando">
        {{ transacao.valor | currency:'BRL' }}
      </td>
      <td *ngIf="transacao.editando">
        <select id="select_opt" [(ngModel)]="transacao.tipo_transacao_id">
          <option *ngFor="let cat of tipoTransacoes" [value]="cat.id">{{ cat.nome }}</option>
        </select>
      </td>
      <td *ngIf="!transacao.editando">
        {{ transacao.tipo_transacao_id == 1 ? 'Aluguel'
            : transacao.tipo_transacao_id == 2 ? 'Pagamento'
            : transacao.tipo_transacao_id == 3 ? 'Prolabore' : 'Outros'}}
      </td>
      <td *ngIf="transacao.editando">
        <input id="select_opt" [(ngModel)]="transacao.descricao">
      </td>
      <td *ngIf="!transacao.editando">
        {{ transacao.descricao }}
      </td>
      <td id="botoes">
        <button id="editar" *ngIf="!transacao.editando" (click)="editar(transacao)">Editar</button>
        <button id="salvar" *ngIf="transacao.editando" (click)="salvar(transacao)">Salvar</button>
        <button id="excluir" (click)="excluir(transacao.id)">Excluir</button>
      </td>
    </tr>
  </table>

  <form [formGroup]="meuFormulario" (ngSubmit)="onSubmit()" [ngStyle]="{'display': isVisible ? 'flex' : 'none'}" class="formulario-transacao">
    <!-- -->
    <div>
      <label for="tipo">Tipo:</label><br>
      <select id="tipo" name="tipo" formControlName="tipo">
          <option *ngFor="let tipo of tipos" [value]="tipo">
            {{ tipo === 'receita' ? 'Receita' : 'Despesa' }}
          </option>
      </select>
    </div>
    <div>
      <label for="tipo_transacao_id">Categoria:</label>
      <select id="tipo_transacao_id" formControlName="tipo_transacao_id" required>
        <option value="" disabled selected>--Selecione uma categoria--</option>
        <option *ngFor="let categoria of tipoTransacoes" [value]="categoria.id">
            {{ categoria.nome }}
        </option>
      </select>
    </div>
    <div >
      <label for="valor">Valor:</label><br>
      <input type="number" id="valor" name="valor" formControlName="valor">
    </div>
    <div>
      <label for="descricao">Descrição:</label><br>
      <textarea type="text" id="descricao" name="descricao" formControlName="descricao"></textarea>
    </div>
    <button id="criar" type="submit" [disabled]="meuFormulario.invalid" (click)="toggleDisplay()">Criar</button>
  </form>
</div>
