@use "../../../styles/variables.scss" as vars;

.lista-transacoes{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .lista-transacoes-items {
    width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: vars.$secondary;
    border-radius: 16px;
    padding: 1rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-self: flex-start;

      h2 {
        font-size: 1rem;
      }
    }

    p, span {
      color: vars.$primary;
      font-size: .75rem;
    }


    img {
      width: 2.5rem;
    }
  }
}

@media (max-width: 767px) {
  .lista-transacoes{

    .lista-transacoes-items {



      h2 {
        font-size: 1rem;
      }

      p, span {
        font-size: .75rem;
        color: vars.$primary;
      }

      img {
        width: 2.25rem;
      }
    }
  }

}
