
<div class="lista-transacoes">
  <div
    class="lista-transacoes-items"
  >
    <img src="/svg/receita.svg" />
    <div class="valores">
      <p>Total Receita</p>
      <h2>{{ totalReceita | currency:'BRL'}}</h2>
    </div>
  </div>
  <div
    class="lista-transacoes-items"
  >
    <img src="/svg/despesa.svg" />
    <div class="valores">
      <p>Total Despesas</p>
      <h2>{{ totalDespesa | currency:'BRL'}}</h2>
    </div>
  </div>
  <div
    class="lista-transacoes-items"
  >
    <div class="valores">
      <p>Total Transações</p>
      <h2>{{ totalTransacoes | currency:'BRL' }}</h2>
    </div>
  </div>
</div>

