/* You can add global styles to this file, and also import other style files */
@use "../src/styles/variables.scss" as vars;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    background-color: vars.$primary;
    color: vars.$text-color-white;
}